CompileFlags:
  CompilationDatabase: >-
    c:\Users\aibar\Downloads\REPOSITORY\Embedded-Control-Robotics-PLC\RTOS\0\tm4c123-keil\out\lesson\dbg
  Add:
    - >-
      -IC:/Users/aibar/AppData/Local/stm32cube/packs/Keil/TM4C_DFP/1.1.0/Device/Include/TM4C123
    - >-
      -IC:/Users/aibar/Downloads/REPOSITORY/Embedded-Control-Robotics-PLC/RTOS/0/tm4c123-keil/.
    - >-
      -IC:/Users/aibar/Downloads/REPOSITORY/Embedded-Control-Robotics-PLC/RTOS/0/tm4c123-keil/../ek-tm4c123gxl
    - >-
      -IC:/Users/aibar/Downloads/REPOSITORY/Embedded-Control-Robotics-PLC/RTOS/0/tm4c123-keil/../CMSIS/Include
